{%- if config.explicitDrop %}
{{ stage('Drop exisiting Object') }}
CALL {{ ref('DWH_00_META', 'DROP_OBJECT') }} ('{{ ref_no_link(node.location.name, node.name) | replace('"','') }}')
{%- endif %}

{{ stage('Create ' ~ node.materializationType ) }}
{%- if node.materializationType == 'view' or node.materializationType == 'dynamic_table' %}
    {% if config.testsEnabled and (not parameters.disable_tests_businessvault or parameters.disable_tests_businessvault is none) %}
        {% set do_test = true %}
    {% else %}
        {% set do_test = false %}
    {% endif %}

    {% if do_test %}
        {% for test in node.tests %}
            {% if test.runOrder == 'Before' %}
                {{ test_stage(test.name, test.continueOnFailure) }}
                {{ test.templateString }}
            {% endif %}
        {% endfor %}
    {% endif %}
{%- if node.materializationType == 'view' %}
    CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
{%- else %}    
    CREATE OR REPLACE DYNAMIC TABLE {{ ref_no_link(node.location.name, node.name) }}
    TARGET_LAG = 'DOWNSTREAM'
    INITIALIZE = ON_CREATE
    WAREHOUSE = {{ parameters.dyntab_snowflake_warehouse  }}
{%- endif %}  
    (
        {% for col in columns %}
            "{{ col.name }}"
            {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    )
    {%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
    AS
    {% if config.aggregate %}
    SELECT 
     {% for col in columns %}
             {% if col.name == config.is_aggregation_field.name %}{{ config.aggregationFunction }}({% endif %} 
             "{{ col.name }}"
             {% if col.name == config.is_aggregation_field.name %}) AS "{{ col.name }}"{% endif %}
             {%- if not loop.last -%}, {% endif %}
     {% endfor %}
    FROM ({% endif %} 
    {% for source in sources %}
        SELECT {% if config.selectDistinct %} DISTINCT {% endif %}
        {% for col in source.columns %}
            {{ get_source_transform(col) }}  AS "{{ col.name }}"
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

        {{ source.join }}

        {% if not loop.last %}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] %}
                {{ config.insertStrategy }}
            {% else %}
                UNION
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if config.aggregate %})  {{ node.name }} GROUP BY ALL {% endif %}    

    {% if do_test %}
        {% for test in node.tests %}
            {% if test.runOrder == 'After' %}
                {{ test_stage(test.name, test.continueOnFailure) }}
                {{ test.templateString }}
            {% endif %}
        {% endfor %}
    {% endif %}

{% else %}
CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
{%- if config.changeTrackingEnabled  %}
    CHANGE_TRACKING = TRUE
{%- endif %}  
(
    {% for col in columns %}
        "{{ col.name }}" {{ col.dataType }}
        {%- if not col.nullable %} NOT NULL
            {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
        {% endif %}
        {%- if col.description | length > 0 %} COMMENT '{{ col.description }}'{% endif %}
        {%- if not loop.last -%}, {% endif %}
    {% endfor %}
)
{%- if node.description | length > 0 %} COMMENT = '{{ node.description }}'{% endif %}
{% endif %}
